@charset "utf-8";
/* We'll add our presentation styles here */

/* HTML and Body Styles */
html {
    background-color: hsl(27, 72%, 72%);
}

body {
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Geneva, Verdana, sans-serif;
}

/* Heading Styles */
#about h1 {
    color: white;
    background-color: rgb(222, 128, 60);
}
#about h2 {
    color: white;
    background-color: rgb(235, 177, 131);
}

.syllabus h1, .syllabus h2 {
    color: rgb(101, 101, 101);
    background-color: rgb(255, 185, 255);
}

/* Aside and Blockquote Styles */


/* Navigation Styles */


/* List Styles */


/* Footer Styles */


