@charset "utf-8";
/* We'll add our presentation styles here */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* HTML and Body Styles */
html {
    background-color: hsl(27, 72%, 72%);
}

body {
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Geneva, Verdana, sans-serif;
}

/* Heading Styles */
h1 { font-size: 2.2em; }
h2 { font-size: 1.1em; }
h1, h2 {
    font-family: Quicksand, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
}

#about h1 {
    color: white;
    background-color: rgb(222, 128, 60);
}
#about h2 {
    color: white;
    background-color: rgb(235, 177, 131);
}

.syllabus h1, .syllabus h2 {
    color: rgb(101, 101, 101);
    background-color: rgb(255, 185, 255);
}

/* Aside and Blockquote Styles */


/* Navigation Styles */
nav > ul {
    line-height: 2em;
    list-style-type: none;
}


/* List Styles */
.syllabus ol {
    list-style-type: upper-roman;
}
.syllabus ol ol {
    list-style-type: upper-alpha;
}
.syllabus ol ol ol{
    list-style-type: decimal;
}

#about ul li:first-of-type {
    list-style-image: url(../images/runicon.png);
}
#about ul li:nth-of-type(2) {
    list-style-image: url(../images/bikeicon.png);
}
#about ul li:last-of-type {
    list-style-image: url(../images/swimicon.png);
}

/* Footer Styles */
footer address {
    background-color: rgb(222, 128, 60);
    color: rgba(255, 255, 255, 0.7);
    font: normal small-caps bold 0.9em/3em Quicksand, Geneva, Verdana, sans-serif;
    text-align: center;
}


